<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.spring.follay.member.domain.Member" alias="Member"/>
		<typeAlias type="kh.spring.follay.play.domain.Play" alias="Play"/>
		<typeAlias type="kh.spring.follay.play.domain.PlayComment" alias="PlayComment"/>
		<typeAlias type="kh.spring.follay.work.domain.Work" alias="Work"/>
		<typeAlias type="kh.spring.follay.work.domain.WorkComment" alias="WorkComment"/>
		<typeAlias type="kh.spring.follay.show.domain.Show" alias="Show"/>
		<typeAlias type="kh.spring.follay.show.domain.ShowComment" alias="ShowComment"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/play-mapper.xml"/>
		<mapper resource="mappers/work-mapper.xml"/>
		<mapper resource="mappers/show-mapper.xml"/>
	</mappers>
	
</configuration>
