<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.spring.follay.member.domain.Member" alias="Member"/>
		<typeAlias type="kh.spring.follay.play.domain.Play" alias="Play"/>
		<typeAlias type="kh.spring.follay.play.domain.PlayComment" alias="PlayComment"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/play-mapper.xml"/>
	</mappers>
	
</configuration>
