@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid rgb(243, 90, 113);
	width: 200px;
	margin: auto;
	color: rgb(243, 90, 113);
	font-family: 'Nanum Gothic', sans-serif;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.work_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #feebee;
    position: absolute;
}

/* 두번째 div */
.work_frmcover {
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#work_write{
	margin-top: 50px;
	padding-left: 100px;
}

/* 제목 입력칸 */
.work_title{
	width: 400px;
    padding: 10px 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
}
