@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid rgb(243, 90, 113);
	width: 200px;
	margin: auto;
	color: rgb(243, 90, 113);
	font-family: 'Nanum Gothic', sans-serif;
	margin-bottom: 20px;
} 

/* 제일 바깥쪽 div */       
.work_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #feebee;
    position: absolute;
}

/* 두번째 div */
.work_frmcover {
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.category_btn_wrap {
	padding-left: 337px;
}

/* 카테고리 버튼*/
.category_btn {
	margin:auto;
	border: none;
	border-radius: 20px;
	background-color: #f894a3;
	color: white;
	padding: 13px;
	font-size: 18px;
	cursor: pointer;
	font-family: 'Nanum Gothic', sans-serif;
	transition: background-color 0.4s ease;
}

.category_btn:hover {
	background-color: #f46076;
}

a {
	text-decoration: none;
	color:inherit;
}

.list_title-span {
	padding-left:110px ;
	margin-top: 10px;
	font-size: 18px;
	font-family: 'Nanum Gothic', sans-serif;
/* 	text-align: center; */
}

.list_div{
	margin-top: 30px;
	padding-left:100px;
	padding:10px;
	display: flex;    
	overflow: hidden;  
	float:left; 
	cursor: pointer;        
/*     justify-content: center;  */
/*     align-items: center; */
	
}
/* 페이징 */
.paging_div {
	margin-top: 30px;
	padding-left: 530px;
}

#paging_no {
	font-weight: 500;
	font-size: 17px;
	color: rgb(243, 90, 113);
	font-family: 'Nanum Gothic', sans-serif;
}

/* 페이징 처리 */
.section_container {
	margin-left: 80.500px;
	margin-right: 80.500px;
	margin-top: 80.500px;
	margin-bottom: 80.500px;
}

.pagination {
  margin-left: 43%;
}
.page-link {
  color: rgb(243, 90, 113);
}

.work_write{
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	color: white;
	background: #f894a3;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 19px;
	transition: background-color 0.4s ease;
	font-family: 'Nanum Gothic', sans-serif;
}

.work_write:hover {
	background: rgb(243, 90, 113);
}
