@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid rgb(243, 90, 113);
	width: 200px;
	margin: auto;
	color: rgb(243, 90, 113);
	font-family: 'Nanum Gothic', sans-serif;
	margin-bottom: 20px;
} 

/* 제일 바깥쪽 div */       
.work_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #feebee;
    position: absolute;
}

/* 두번째 div */
.work_frmcover {
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#article1 {
/* 	padding-left:370px; */
}

.category_btn_wrap {
	padding-left: 337px;
}

/* 카테고리 버튼*/
.category_btn {
	margin:auto;
	border: none;
	border-radius: 20px;
	background-color: #f894a3;
	color: white;
	padding: 13px;
	font-size: 18px;
	cursor: pointer;
	font-family: 'Nanum Gothic', sans-serif;
	transition: background-color 0.4s ease;
}

.category_btn:hover {
	background-color: #f46076;
}

.work_write{
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	color: white;
	background: #f894a3;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 19px;
	transition: background-color 0.4s ease;
	font-family: 'Nanum Gothic', sans-serif;
}

.work_write:hover {
	background: rgb(243, 90, 113);
}
