@charset "UTF-8";

.bs-component {
    position: relative;
}

.navbar {
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* 메뉴바 배경 색깔 */
.bg-dark {
/*     background-color: #f3969a !important; */
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.collapse:not(.show) {
    display: none;
}

.me-auto {
    margin-right: auto !important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.6);
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #78c2ad;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/*이미지 크기 조정*/
.nav-item-image {
	width:150px;
}

.nav-item-image-logo {
/* 	width:300px; */
/* 	height:200px; */
}

/* 드랍 다운 */

.dropup, .dropend, .dropdown, .dropstart {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-menu {
/*     position: absolute; */
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #888;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}

/* .dropdown-divider { */
/*     height: 0; */
/*     margin: 0.5rem 0; */
/*     overflow: hidden; */
/*     border-top: 1px solid rgba(0, 0, 0, 0.15); */
/* } */

.dropdown-toggle {
    white-space: nowrap;
    width:150px;
    background-color: transparent;
}

[role="button"] {
    cursor: pointer;
}

div {
    display: block;
}
