@charset "UTF-8";

.title{
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FF69B4;
	width: 200px;
	margin: auto;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.findId_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* 두번째 div */
.findId_form-cover {
	height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}