@charset "UTF-8";


.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid #8B008B;
	width: 200px;
	margin: auto;
	color: #8B008B;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.signup_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #F8EFFB;
    position: absolute;
}

/* 두번째 div */
.signup_form-cover {
	margin-top:50px;
	height: 460px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* form */
.signup_input-group {
/*     position: absolute; */
/*     width: 1200px; */
    margin-top: 30px;
}

/* 회원가입 입력칸 */
.signup_input-field {
    width: 40%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
/*     border-bottom: 1px solid #b700b7; */
    outline: none;
    background: transparent;
    font-size: 18px;
    margin-left: 340px;
}

.guide {
	margin-top:10px;
	margin-left: 340px;
}

/* 중복확인 */
.idcheck, .emailcheck {
	padding: 10px 20px;
    cursor: pointer;
/*     display: block; */
    margin: auto;
    color: white;
    background: #DA70D6;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    transition: background-color 0.5s ease;
}

/* 중복확인 호버 */
.idcheck:hover, .emailcheck:hover{
	background-color: #8B008B;
}

/* 회원가입 버튼 */
.signup_submit {
    padding: 10px 30px;
    cursor: pointer;
    display: block;
/*     margin: auto; */
    margin-top: 30px;
	margin-left: 530px;
    color: white;
    background: #DA70D6;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    transition: background-color 0.5s ease;
/*     justify-centent:center; */
}

/* 회원가입 호버 */
.signup_submit:hover {
	background-color: #8B008B;
}