@charset "UTF-8";


.title{
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 3px solid #8B008B;
	width: 200px;
	margin: auto;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.signup_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* 두번째 div */
.signup_form-cover {
	height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 회원가입 입력칸 */
.signup_input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
}

/* 회원가입 버튼 */
.signup_submit {
/*     width: 80%; */
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 34px;
    color: white;
    background: #8B008B;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
}
