@charset "UTF-8";

.title{
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FF69B4;
	width: 200px;
	margin: auto;
/* 	margin-bottom: 10px; */
} 
       
.login_wrap {
/*     height: 100%; */
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.login_form-wrap {
	height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 버튼탭글자부분설정 */
.login_togglebtn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 24px;
}

/* 버튼탭자체설정 */
#l_login_btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 175px;
    height: 100%;
    background: #f5e6ca;
    border-radius: 30px;
    transition: .3s;
}

.login_input-group {
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .3s;
    margin-top: 30px;
}

.login_input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
}

/* 로그인화면에 로그인버튼 */
.login_submit {
/*     width: 80%; */
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    background: #FF69B4;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
}

/*로그인화면 아이디찾기, 비밀번호찾기*/
.login_find{
	padding: 10px 70px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 20px;
	color: #2F4F4F;
	background: #FFB6C1;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 20px;
}

/* footer와 경계되는 경계선 */
.contentfooter{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #F54748;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}        


/* 각버튼탭에대한내용위치지정 */
#login_login {
    left: 620px; 
    top: 50px;
}
#login_idfind {
    left: 600px;
}
#login_passwordfind {
    left: 600px;
}
        