@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FF69B4;
	width: 200px;
	margin: auto;
	color: #FF69B4;
	margin-bottom: 30px;
} 

/* 제일 바깥쪽 div */       
.login_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #FBEFF2;
    position: absolute;
}

/* 두번째 div */
.login_form-cover {
	height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 버튼탭 글자부분설정 */
.login_togglebtn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 24px;
}

/* form */
.login_input-group {
    top: 130px;
/*     position: absolute; */
/*     width: 280px; */
    transition: .3s;
    margin-top: 30px;
}

/* 로그인 입력칸*/
.login_input-field {
    width: 23.3%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
    margin-left:460px;
}

/* 로그인화면에 로그인버튼 */
.login_submit {
/*     width: 80%; */
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 34px;
    color: white;
    background: #FFBADD;
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    transition: background-color 0.5s ease;
}

/*로그인화면 아이디찾기, 비밀번호찾기*/
.login_find{
	padding: 10px 70px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 20px;
	color: white;
	background: #FFBADD;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 20px;
	transition: background-color 0.5s ease;
}

/* 아이디찾기 버튼 */
.find_id {
	padding: 10px 80px;
}

/* 로그인, 아이디비번찾기 버튼 호버 */
.login_submit:hover {
	background-color: #FF69B4;
}

.login_find:hover {
	background-color: #FF69B4;
}

/* 로그인, 아이디비밀번호찾기 위치지정 */
#login_login {
    left: 620px; 
    top: 50px;
}
#login_idfind {
    left: 600px;
}
#login_passwordfind {
    left: 600px;
}
        