@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid #007bf7;
	width: 200px;
	margin: auto;
	color: #007bf7;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.mypage_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #e1f0ff;
    position: absolute;
}

/* 두번째 div */
.mypage_frmcover {
	height: 360px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 485px;
}

.mypage_my {
	font-size: 25px;
	font-weight: 500;
	color: #007bf7;
	padding-top: 70px;
	padding-bottom: 25px;
	padding-left: 60px;
}

.mypage_table {
/* 	border-top:1px solid #007bf7; */
}

th {
/* 	border-top: 1px solid #bbb; */
/* 	border-top: 1px solid #007bf7; */
	border-bottom:3px solid #007bf7;
/* 	border-right:1px solid #007bf7; */
	padding:8px 10px;
	color: #333;
}

td {
	text-align: center;
	padding:10px 10px;
	font-size: 17px;
	color: #333;
	border-bottom:1px solid #359aff;
}


