<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Play">
	<resultMap type="Play" id="PlayResultMap">
		<id column="play_no" property="play_no"/>
		<result column="play_title" property="play_title"/>
		<result column="play_content" property="play_content"/>
		<result column="play_original_filename" property="play_original_filename"/>
		<result column="play_rename_filename" property="play_rename_filename"/>
		<result column="play_date" property="play_date"/>
		<result column="play_level" property="play_level"/>
		<result column="play_ref" property="play_ref"/>
		<result column="play_replay_ref" property="play_replay_ref"/>
		<result column="play_reply_seq" property="play_reply_seq"/>
		<result column="play_readcount" property="play_readcount"/>
		<result column="member_id" property="member_id"/>
		<result column="refnum" property="refnum"/>
		<result column="play_commentcnt" property="play_commentcnt"/>
		<collection property="play_commentlist" resultMap="PlayCommentResultMap"/>
	</resultMap>
	
	<resultMap type="Play" id="PlayAndReCommentResultMap">
		<id column="play_no" property="play_no"/>
		<result column="play_title" property="play_title"/>
		<result column="play_content" property="play_content"/>
		<result column="play_original_filename" property="play_original_filename"/>
		<result column="play_rename_filename" property="play_rename_filename"/>
		<result column="play_date" property="play_date"/>
		<result column="play_level" property="play_level"/>
		<result column="play_ref" property="play_ref"/>
		<result column="play_replay_ref" property="play_replay_ref"/>
		<result column="play_reply_seq" property="play_reply_seq"/>
		<result column="play_readcount" property="play_readcount"/>
		<result column="member_id" property="member_id"/>
		<result column="refnum" property="refnum"/>
		<result column="play_commentcnt" property="play_commentcnt"/>
		<collection property="play_commentlist" resultMap="PlayCommentResultMap"/>
	</resultMap>
	
	<resultMap type="PlayComment" id="PlayCommentResultMap">
		<id column="pc_no" property="pc_no"/>
		<result column="pc_content" property="pc_content"/>
		<result column="pc_date" property="pc_date"/>
		<result column="play_no" property="play_no"/>
		<result column="member_id" property="member_id"/>
	</resultMap>

<select id="selectTotalCnt" resultType="_int">
	select count(*) from play
</select>
<select id="selectPlayList" resultMap="PlayResultMap">
		<![CDATA[
 		select play.*, playcomment.*, (select count(*) from playcomment pc where pc.play_no= play.play_no) play_commentcnt 
 		from play  
 		left outer join playcomment on play.play_no = playcomment.play_no 
		order by play.play_date desc, playcomment.pc_date desc 
 		]]> 
</select>
<select id="selectPlayAndReComment" resultMap="PlayAndReCommentResultMap" parameterType="string">
		<![CDATA[
		select * from (select * from play where play_no=#{play_no}) t1 
        left outer join (select * from playcomment where play_no=#{play_no}) t2 using (play_no)
		]]> 
</select>
<insert id="insertPlay" parameterType="Play">
	<![CDATA[
	insert into play 
	(play_no
	, play_title, member_id, play_content, play_original_filename, play_rename_filename
	, play_date
	, play_level
	, play_ref, play_replay_ref
	, play_reply_seq
	, play_readcount)
	values 
	(	(select nvl(max(PLAY_NO),0)+1 from play)
	, #{play_title},#{member_id}, #{play_content}, #{play_original_filename}, #{play_rename_filename}
	, DEFAULT
	, DEFAULT
	, (select nvl(max(PLAY_NO),0)+1 from play), (select nvl(max(PLAY_NO),0)+1 from play)
	, DEFAULT
	, DEFAULT
	)
	]]>
</insert>
<update id="updatePlayReplySeq" parameterType="Play">
<![CDATA[
	update play set play_reply_seq = play_reply_seq+1
	where play_ref=(select play_ref from play where play_num=#{refnum})
	and play_reply_seq > (select play_reply_seq from play where play_num=#{refnum})
]]>
</update>
<insert id="insertPlayReply" parameterType="Play">
<![CDATA[
	insert into play
	(play_no
	, play_title, member_id, play_content, play_original_filename, play_rename_filename
	, play_date
	, play_level
	, play_ref, play_replay_ref
	, play_reply_seq
	, play_readcount)
	values
	( (select nvl(max(PLAY_NO),0)+1 from play)
	, #{play_title},#{member_id}, #{play_content}, #{play_original_filename}, #{play_rename_filename}
	, DEFAULT
	, (select play_level+1 from play where play_no=#{refnum})
	, (select play_ref from play where play_no=#{refnum})
	, #{refnum}
	, (select play_reply_seq+1 from play where play_no=#{refnum})
	, DEFAULT
	)
]]>
</insert>
<insert id="insertPlayReply2" parameterType="Play">
<![CDATA[
	insert into play
		(play_num
		, play_title, member_id, play_content, play_original_filename, play_rename_filename
		, play_date
		, play_level
		, play_ref, play_replay_ref
		, play_reply_seq
		, play_readcount)
	select (select nvl(max(PLAY_NO),0)+1 from play)
		, #{play_title},#{member_id}, #{play_content}, #{play_original_filename}, #{play_rename_filename}
		, systimestamp
		, play_level+1
		, play_ref
		, #{refnum}
		, play_reply_seq+1
		, 0
		from play where play_no=#{refnum}
]]>
</insert>

<insert id="insertPlayComment"  parameterType="PlayComment">
<![CDATA[	
	insert into playcomment
		(pc_no
		, pc_content
		, pc_date
		, play_no
		, member_id)
		values
		( (select nvl(max(pc_no),0)+1 from playcomment)
		, #{pc_content}
		, DEFAULT
		, (select nvl(max(pc_no),0)+1 from playcomment)
		, #{member_id}
		)
]]>
</insert>

<select id="selectPlayListAll" resultType="Play">
<![CDATA[
	select * from play
	order by play_ref desc, play_reply_seq asc
]]>
</select>
<select id="selectPlay" resultType="Play" parameterType="string">
<![CDATA[
	select play_no, play_title, play_content, play_date, member_id, play_readcount from play
	where play_no=#{play_no}
]]>
</select>

<select id="selectPlayCommentList" resultMap="PlayCommentResultMap" parameterType="string">
<![CDATA[
		select * from playcomment where play_no=#{play_no}
]]>
</select>
	
<update id="updatePlay" parameterType="Play">
	update play set
		  play_title = #{play_title}
		, play_content = #{play_content}
		, play_original_filename = #{play_original_filename}
		, play_rename_filename = #{play_rename_filename}
	where play_no={play_no}
</update>

<delete id="deletePlay" parameterType="_int">
	delete from play where play_no=#{play_no}
</delete>

<update id="updatePlayCount" parameterType="_int">
	update play set play_readcount = play_readcount + 1
	where member_id = #{member_id}
</update>
</mapper>
