@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid rgb(34, 155, 223);
	width: 200px;
	margin: auto;
	color: rgb(34, 155, 223);
	font-family: 'Nanum Gothic', sans-serif;
	margin-bottom: 20px;
} 

/* 제일 바깥쪽 div */       
.show_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #ecf7fd;
    position: absolute;
}

/* 두번째 div */
.show_frmcover {
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

th {
	border-top: 1px solid rgb(34, 155, 223);
	border-bottom:1px solid rgb(34, 155, 223);
	padding:8px 10px;
	color: #333;
	font-family: 'Nanum Gothic', sans-serif;
}

td {
	text-align: center;
	padding:10px 10px;
	font-size: 17px;
	color: #333;
	border-bottom:1px solid #72c0eb;
	font-family: 'Nanum Gothic', sans-serif;
}

a {
	text-decoration: none;
	color:inherit;
}
/* work_list 제목 부분 */
#showlist_title{
	text-align: left;
}

.list_title-span:hover {
	text-decoration: underline;
}

.list_div{
	margin-top: 70px;
	padding-left:270px;
	
}
/* 페이징 */
.paging_div {
	margin-top: 30px;
	padding-left: 550px;
}

#paging_no {
	font-weight: 500;
	font-size: 17px;
	color: rgb(34, 155, 223);	
	font-family: 'Nanum Gothic', sans-serif;
}

/* 글쓰기 버튼 호버시 효과 */
.show_write:hover {
	background-color: rgb(34, 155, 223);
}

/* 페이징 처리 */
.section_container {
	margin-left: 80.500px;
	margin-right: 80.500px;
	margin-top: 80.500px;
	margin-bottom: 80.500px;
}

.pagination {
  margin-left: 43%;
}
.page-link {
  color: rgb(34, 155, 223);
}

.show_write{
	padding: 7px 20px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	color: white;
	background: #68bcea;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 16px;
	transition: background-color 0.4s ease;
	font-family: 'Nanum Gothic', sans-serif;
}

.show_write:hover {
	background: rgb(34, 155, 223);
}