@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FF8C00;
	width: 200px;
	margin: auto;
	color: #FF8C00;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.play_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #FFF0E7;
    position: absolute;
}

/* 두번째 div */
.play_form-cover {
	height: 540px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 제목 입력칸 */
.play_title{
	width: 400px;
    padding: 10px 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
}

/* form */
#play_write {
	margin-top: 20px;
	padding-left: 400px;
}

/* 내용 입력칸 */
.play_content {
	width: 400px;
    height: 250px;
    padding: 10px 5px;
/*     margin: auto; */
    margin: 5px 0;
/*     border: none; */
    border: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
    resize: none;
}

/* 파일 업로드 버튼 */
.filebox label {
    display: inline-block;
	padding: .5em .75em;
	color: white;
	font-size: inherit;
	line-height: normal;
/* 	vertical-align: middle; */
	background-color: #ffb12f;
	cursor: pointer;
/* 	border: 1px solid #999; */
	border-radius: 30px;
	transition: background-color 0.5s ease;
}

.filebox label:hover{
	background-color: #FF8C00;
}

.upload-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: .5em .75em;  /* label의 패딩값과 일치 */
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #ffe3d5;
  border: none;
  border-radius: .25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}


/* imaged preview */
.filebox .upload-display {
  margin-bottom: 5px;
}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
/*     margin-bottom: 0; */
  }
}

.filebox .upload-thumb-wrap {
  display: inline-block;
  width: 54px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* 글등록 버튼 */
.play_insert{
	padding: 10px 50px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 40px;
	margin-left:120px;
	color: white;
	background: #ffb12f;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 20px;
	transition: background-color 0.5s ease;
}

/* 글등록 버튼 호버*/
.play_insert:hover {
	background-color: #FF8C00;
}