@charset "UTF-8";

.title{
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FF8C00;
	width: 200px;
	margin: auto;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.play_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* 두번째 div */
.play_form-cover {
	height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 제목 입력칸 */
.play_title{
/* 	width: 23.3%; */
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
}

/* 내용 입력칸 */
.play_content {
/* 	width: 23.3%; */
    padding: 10px 0;
/*     margin: auto; */
    margin: 5px 0;
/*     border: none; */
    border: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
}

/* 파일 업로드 버튼 */
label {
	display: inline-block;
	padding: .5em .75em;
	color: white;
	font-size: inherit;
	line-height: normal;
/* 	vertical-align: middle; */
	background-color: #ffb12f;
	cursor: pointer;
	border: none;
	border-radius: 30px;
	transition: background-color 0.5s ease;
}

label:hover{
	background-color: #FF8C00;
}


/* 글등록 버튼 */
.play_insert{
	padding: 10px 50px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 20px;
	color: white;
	background: #ffb12f;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 20px;
	transition: background-color 0.5s ease;
}

/* 글등록 버튼 호버*/
.play_insert:hover {
	background-color: #FF8C00;
}