@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FF8C00;
	width: 200px;
	margin: auto;
	color: #FF8C00;
	font-family: 'Nanum Gothic', sans-serif;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.play_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #FFF0E7;
    position: absolute;
}

/* 두번째 div */
.play_frmcover {
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 제목 입력칸 */
.play_title{
	width: 400px;
    padding: 10px 5px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
}

/* form */
#play_write {
	margin-top: 50px;
	padding-left: 400px;
}

/* 내용 입력칸 */
.play_content {
	width: 400px;
    height: 250px;
    padding: 10px 5px;
/*     margin: auto; */
    margin: 5px 0;
    margin-bottom: 10px;
/*     border: none; */
    border: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
    resize: none;
}

/* 글등록 버튼 */
.play_insert{
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left:120px;
	color: white;
	background: #ffb12f;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 19px;
	transition: background-color 0.4s ease;
}

/* 글등록 버튼 호버*/
.play_insert:hover {
	background-color: #FF8C00;
}