@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FF8C00;
	width: 200px;
	margin: auto;
	color: #FF8C00;
	font-family: 'Nanum Gothic', sans-serif;
/* 	margin-bottom: 10px; */
} 


/* 제일 바깥쪽 div */       
.play_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #FFF0E7;
    position: absolute;
}

/* 두번째 div */
.play_form-cover {
/* 	height: 500px; */
    width: 100%;
    position: relative;
    overflow: hidden;
}

th {
	border-top: 1px solid #FF8C00;
	border-bottom:1px solid #FF8C00;
	padding:8px 10px;
	color: #333;
	font-family: 'Nanum Gothic', sans-serif;
}

td {
	text-align: center;
	padding:10px 10px;
	font-size: 17px;
	color: #333;
	border-bottom:1px solid #ffbf71;
	font-family: 'Nanum Gothic', sans-serif;
}

a {
	text-decoration: none;
	color:inherit;
}
/* play_list 제목 부분 */
#playlist_title{
	text-align: left;
}

/* list 호버시 효과 */
/* #playlist_title:hover { */
/* 	text-decoration: underline; */
/* } */

.list_title-span:hover {
	text-decoration: underline;
}

.list_div{
	margin-top: 70px;
	padding-left:300px;
	
}
/* 페이징 */
.paging_div {
	margin-top: 30px;
	padding-left: 550px;
}

#paging_no {
	font-weight: 500;
	font-size: 17px;
	color: #FF8C00;	
	font-family: 'Nanum Gothic', sans-serif;
}

/* 글쓰기 버튼 */
.play_write{
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	color: white;
	background: #ffb12f;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 19px;
	transition: background-color 0.4s ease;
	font-family: 'Nanum Gothic', sans-serif;
}

/* 글쓰기 버튼 호버시 효과 */
.play_write:hover {
	background-color: #FF8C00;
}

/* 페이징 처리 */
.section_container {
	margin-left: 80.500px;
	margin-right: 80.500px;
	margin-top: 80.500px;
	margin-bottom: 80.500px;
}

.pagination {
  margin-left: 43%;
}
.page-link {
  color: #FF8C00;
}

