@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FF8C00;
	width: 200px;
	margin: auto;
	color: #FF8C00;
	font-family: 'Nanum Gothic', sans-serif;
/* 	margin-bottom: 10px; */
} 

/* 제일 바깥쪽 div */       
.play_cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #FFF0E7;
    position: absolute;
}

/* 두번째 div */
.play_form-cover {
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 글읽기 제목 table div */
.read_table {
	margin-top: 70px;
	padding-left:400px;
}

#read_playtitle {
/* 	border-bottom:1px solid #bbb; */
	padding:10px 10px;
	color: #333;
	font-weight: 400;
	font-size:21px;
	font-family: 'Nanum Gothic', sans-serif;
}

td {
	text-align: center;
	padding:10px 10px;
	font-size: 14px;
	color: #333;
	font-family: 'Nanum Gothic', sans-serif;
/* 	border-bottom:1px solid #bbb; */
}

/* 글읽기 내용부분 */
.read_content {
	padding:20px 10px;
	font-size:17px;
	margin-bottom:100;
	font-family: 'Nanum Gothic', sans-serif;
}

/* 작성자 부분 */
#read_memberid {
/* 	float:left; */
/* 	text-align: center; */
}
.comment_total {
	background-color: #ffe3d5;
	width: 100%;
}
/* 댓글 */
/* #frmComment { */
/* 	background-size: cover; */
/* 	background-color: #ffe3d5; */
/* 	width: 100%; */
	
/* } */

.comment_content {
	width: 40%;
    padding: 10px 0;
    margin: 5px 0;
    margin-left: 355px;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
}

/* 댓글 버튼 */
.comment_submit {
	padding: 7px 20px;
	cursor: pointer;
/* 	display: block; */
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
	background: #ffb12f;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 16px;
	font-family: 'Nanum Gothic', sans-serif;
	transition: background-color 0.5s ease;
}

.comment_submit:hover{
    background-color: #FF8C00;
/*     border:none; */
}

/* 글목록 버튼 */
.gotolist {
    padding: 7px 20px;
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	color: white;
	background: #ffb12f;
	border: 0;
	outline: none;
	border-radius: 30px;
	font-size: 16px;
	font-family: 'Nanum Gothic', sans-serif;
	transition: background-color 0.5s ease;
}

/* 글목록 버튼 호버 효과*/
.gotolist:hover{
    background-color: #FF8C00;
/*     border:none; */
}

#comment_wt {
	padding-left:10px;
	font-size: 18px;
	font-family: 'Nanum Gothic', sans-serif;
}

#comment_dt {
	padding-left:10px;
	font-size:15px;
	font-family: 'Nanum Gothic', sans-serif;
}

#comment_ct {
	padding:10px;
	font-size:19px;
	font-family: 'Nanum Gothic', sans-serif;
}

